@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

.App {
  text-align: center;
  background-color: #08060B;
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.App-header {
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid #20AFBB;
}

h1, h2 {
  margin: 0px;
  color: #9A6AFF;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px 30px 0px 30px;
}

.game-display {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  flex-wrap: wrap;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.player, .computer {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 15px;
}

.player h1, .computer h1 {
  color: #DEDEDF;
}

.illustration {
  display: flex;
  flex: row;
  gap: 1.5vw;
  flex-wrap: wrap;
}

.player-img, .computer-img {
  display: flex;
  height: 371px;
  width: 290px;
  justify-content: center;
  flex: 1 1 0;
}

img {
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}

.result {
  display: flex;
  height: 125px;
  width: 450px;
  justify-content: center;
  align-items: center;
}

.result h2 {
  text-transform: uppercase;
}

.btn-group {
  display: flex;
  color: #DEDEDF;
}

button {
  border: 1px solid white;
  color: #DEDEDF;
  background-color: #20AFBB;
  padding: .3rem 1rem;
  width: 150px;
  border-radius: 0px;
  font: inherit;
  text-transform: capitalize;
}

button:hover {
  background-color: #228E99;
  font-weight: 600;
}

.btn-group button:first-child {
  border-radius: 10px 0 0 10px;
}

.btn-group button:last-child {
  border-radius: 0 10px 10px 0;
}

.btn-controls {
  display: flex;
  margin: 2rem;
  gap: 1.5vw;
}

.btn-controls button {
  background-color: #08060B;
  color: #20AFBB;
  border: 3px solid #20AFBB;
  border-radius: 16px;
  padding: 0px 1rem;
}

button:active {
  transform: scale(1.1);
  border-color: #9A6AFF;
  box-shadow: 0 0 1rem #9A6AFF;
}


.active {
  border: 1.5px solid #9A6AFF;
  box-shadow: 0 0 .1rem #9A6AFF;
  font-weight: 600;
  color: #9A6AFF;
}