@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

* {
  text-align: center;
  font-family: 'Kanit', sans-serif!important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  border: 2px solid #9A6AFF;
  padding: .5rem;
  display: flex;
  flex-direction: inherit;
}

header div {
  border: 2px solid #20AFBB;
}

h1 {
  color: #9A6AFF!important  ;  
}

.has-item-gap {
  gap: .5rem;
}

.illustration {
  display: flex;
  flex: row;
  gap: 1.5vw;
  flex-wrap: nowrap;
  min-width: 601px;
  min-height: 371px;
  justify-content: center;
}

@media (max-width: 768px) {
  .illustration {
    min-width: 88vw;
    min-height: 200px;
  }
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

}

.result {
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.btn-group {
  display: flex;
  color: #DEDEDF;
}

button {
  color: #DEDEDF!important;
  background-color: #20AFBB!important;
  width: 150px;
  font: inherit;
  text-transform: capitalize;
  flex: 1;
}

@media (max-width: 768px) {
  button {
    width: calc(30vmin + 5px);
  }
}

button:hover {
  background-color: #228E99;
  font-weight: 600;
}

.btn-controls {
  display: flex;
  gap: 1.5vw;
}

.btn-controls button {
  background-color: #08060B!important;
  color: #20AFBB!important;
  border: 3px solid #20AFBB;
  border-radius: 12px;
  padding: 5px 1rem;
}

button:active {
  transform: scale(1.1);
  border-color: #9A6AFF;
  box-shadow: 0 0 1rem #9A6AFF;
}


.active {
  border: 1.5px solid #9A6AFF!important;
  box-shadow: 0 0 .1rem #9A6AFF!important;
  font-weight: 600!important;
  color: #9A6AFF!important;
}

div#root > footer {
  position: sticky;
  top: 100vh;
  background-color: transparent;
  z-index: 2;
}