* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  background-color: #08060B!important;
}

div#root {
  min-height: 100vh;
  background-color: #08060B!important;
  display: flex;
  flex-direction: column;
}